
.carousel-dynamicContent
{
  display:none;
}
h3,h4{
  color:#ffffff;
}
.carousel-slider-img
{
  margin:auto;
  width:100%; 
  min-height:450px;
}

.carousel-panel
{
  max-height:490px;
  width:100%;
}
.carousel-custom
{
width:20px;
}
.carousel-custom-content
{
  min-height:400px;
  top:0px;
  width:200px;
}

.indiv-indicator
{
    background-color: #ffffff;
    border:1px solid green;
}

.carousel-indicators .active {
  background-color: darkblue;
   }

@media (min-width: 768px) {

.carousel-dynamicContent
{
  display:block;
}
.form-cls
{
    position:relative;
    top:20px;
}

.carousel-dynamicContent
{
  position:absolute;
  top:10px;
  left:70%;
  height:40px;
}
.carousel-indicators 
{
  left:70%
}
.carousel-indicators li
{
  left:40%;
  text-align:right;
  margin-right:10px;
  position:relative;
}
 }

 @media (max-width: 767px) {
.indiv-indicator
{
 pointer-events: none; 
}
}