
.label-cls
{
text-align:left;
}

.header-cls{
  color:#337ab7;
  text-align:left;
  font-style: normal;
   font-weight: lighter;
  border-bottom: 1px solid #337ab7;
}

.btn-cls
{
   background-color: #ff8000;
  color:#ffffff;
}
.collapsed-div
{
  width:100%;
  height:20px;
  background-color:#337ab7;

  display:block;

}
.formContainer {
  background-color: #ffffff;
  padding-top: 1.2em;
  max-width: 420px;
  width:400px;
  position: relative;
  padding-bottom: 15px; 
  top:0px;
  height:450px;
  }

.form-group-custom
{
  padding:5px;
  margin:2px;
  color:#003145;
  text-align:left;
  }

@media (min-width: 768px) {
.carousel-custom {
 visibility: visible;
}
.fancy-collapse-panel
{
  display:none;
}
.formContainer {
  left:30px;
  top:10px;
    height:300px;
  }
  .collapsed-div
  {
    display:none;
  }
}

@media (min-width: 1024px) {
.formContainer {
  top:70px;
  }
}

