
.container
{
    width:100%;
    padding:2px;
 }

.klm-header
{
  background-image: url("/assets/images/klm_airline.png");
  border:2px solid gray;
  height:60px;
  background-repeat: no-repeat;
}

.klm-carousel
{
   max-height:490px;
}
